<div class="navbar bg-gray-900 border-b-4 border-green-500">
  <div class="flex-1">
    <a class="btn btn-ghost text-white normal-case text-xl">PostAPP</a>
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img src="https://picsum.photos/200/300" />
        </div>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content text-white mt-3 z-[1] p-2 shadow bg-gray-900 rounded-box w-52">
        <li>
          <a (click)="goToProfile()" class="justify-between">
            Profile
          </a>
        </li>
        <li><a (click)="closeSession()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
